.circular-spinner
  size = 100
  small-offset = 66
  full-circle-offset = 314
  --duration 3s

  .circular-spinner-path
    stroke var(--primary-color)
    stroke-dasharray 314 // one array of full circle perimeter
    stroke-linecap round
    transform-origin center
    transform rotate(0deg)
    animation dash var(--duration) ease-in-out infinite


@keyframes dash
  0%
    stroke-dashoffset 66
    transform rotate(-60deg)

  50%
    stroke-dashoffset 314
    transform rotate(630deg)

  100%
    stroke-dashoffset 66
    transform rotate(1020deg)
