@import 'muejs/src/base/_fonts.scss';
@import 'muejs/src/mixins/mediaQueries.scss';

:root {
    --border-size: 1px;
    --btn-padding-v: 12px;
    --btn-padding-h: 32px;

    --primary-shadow: rgba(242, 46, 46, 0.3);
    --secondary-shadow: rgba(242, 183, 5, 0.3);
    --dark-shadow: rgba(92, 92, 92, 0.3);

    --primary-border-shadow: rgba(242, 46, 46, 0.15);
    --secondary-border-shadow: rgba(242, 183, 5, 0.15);
    --dark-border-shadow: rgba(92, 92, 92, 0.15);
}
.dark-mode {
    --primary-shadow: rgba(135, 135, 135, 0.3);
    --secondary-shadow: rgba(135, 135, 135, 0.3);
    --dark-shadow: rgba(135, 135, 135, 0.3);

    --primary-border-shadow: rgba(135, 135, 135, 0.15);
    --secondary-border-shadow: rgba(135, 135, 135, 0.15);
    --dark-border-shadow: rgba(135, 135, 135, 0.15);
}

@include withMediaQueries(to-bottom) {
    --btn-direction: bottom;
    --btn-bg-position: 0% calc(100% + var(--border-size, 2px));
    --btn-bg-size: 100% calc(200% + 3 * var(--border-size, 2px));
    --btn-bg-position-2: 0% 0%;
}
@include withMediaQueries(to-top) {
    --btn-direction: top;
    --btn-bg-position: 0% 0%;
    --btn-bg-size: 100% calc(200% + 3 * var(--border-size, 2px));
    --btn-bg-position-2: 0% calc(100% + var(--border-size, 2px));
}
@include withMediaQueries(to-left) {
    --btn-direction: left;
    --btn-bg-position: 0% 0%;
    --btn-bg-size: calc(200% + 3 * var(--border-size, 2px)) 100%;
    --btn-bg-position-2: calc(100% + var(--border-size, 2px)) 0%;
}
@include withMediaQueries(to-right) {
    --btn-direction: right;
    --btn-bg-position: calc(100% + var(--border-size, 2px)) 0%;
    --btn-bg-size: calc(200% + 3 * var(--border-size, 2px)) 100%;
    --btn-bg-position-2: 0% 0%;
}

@mixin filled {
    background-image: linear-gradient(
        to var(--btn-direction, bottom),
        var(--sub-bg, transparent) 50%,
        var(--bg, var(--primary-color)) 50%
    );
    background-position: var(
        --btn-bg-position,
        0% calc(100% + var(--border-size, 2px))
    );
    background-size: var(
        --btn-bg-size,
        100% calc(200% + 3 * var(--border-size, 2px))
    );

    border: var(--border-size) solid var(--bg, var(--primary-color));
    box-shadow: var(--box-shadow, 0);

    overflow: hidden;
    position: relative;

    transition: background-position 0.3s, color 0.3s, box-shadow 0.3s;

    &:hover:not(:disabled):not(.disabled) {
        --color: var(--hovered-text, var(--bg, var(--primary-color)));
        background-position: var(--btn-bg-position-2, 0% 0%);
    }
}

@mixin bordered {
    background-image: linear-gradient(
        to var(--btn-direction, bottom),
        var(--sub-bg, transparent) 50%,
        var(--border, var(--primary-color)) 50%
    );
    background-position: var(
        --btn-bg-position-2,
        0% calc(100% + var(--border-size, 2px))
    );
    background-size: var(
        --btn-bg-size,
        100% calc(200% + 3 * var(--border-size, 2px))
    );
    border: var(--border-size, 2px) solid var(--border, var(--primary-color));
    box-shadow: var(--box-shadow, 0);

    overflow: hidden;
    position: relative;

    --color: var(--text, var(--border));

    transition: background-position 0.3s, color 0.3s;

    &:hover:not(:disabled):not(.disabled) {
        --color: var(--hovered-text, var(--pale-color, #fff));
        background-position: var(--btn-bg-position, 0% 0%);
    }
}

/**
 * BUTTONS
 */
button {
    background-color: unset;

    &:disabled,
    &.disabled {
        --box-shadow: none;
        box-shadow: none;
        cursor: not-allowed !important;
        opacity: var(--disabled-opacity);
    }
}

a.button,
input.button,
button.button,
select.button {
    max-height: 50px;

    > i,
    > svg {
        margin-right: var(--spacing);
        vertical-align: sub;
    }

    &:hover,
    &:active,
    &:focus {
        background-color: unset;
    }
}

.btn-with-icon {
    --btn-padding-h: 24px;
    &.icon-left {
        i,
        svg {
            margin-right: 8px;
        }
    }

    &.icon-right {
        i,
        svg {
            margin-left: 8px;
        }
    }
}

.btn-small {
    --btn-padding-h: 20px;
    --btn-height: 40px;
}

@mixin button {
    @include rubik;
    @include bold;

    align-items: center;
    border: 0;
    border-radius: 9px;
    cursor: pointer;
    display: flex;
    font-size: 13px;
    height: var(--btn-height, inherit);
    justify-content: center;
    letter-spacing: 0;
    line-height: 24px;
    padding: var(--btn-padding-v) var(--btn-padding-h);
    width: auto;
}

.button {
    @include button;
}

.sub-bg-transparent {
    --sub-bg: transparent !important;
}
.sub-bg-pale {
    --sub-bg: var(--pale) !important;
}
.sub-bg-bg-color {
    --sub-bg: var(--bg-color) !important;
}

// BTN FILLED
@mixin btn-filled {
    @include button;
    @include filled;
}

// PRIMARY
@include withMediaQueries(btn-primary) {
    --bg: var(--primary-color);
    --color: var(--color-over-primary, var(--light-color));
    --box-shadow: 0 0 16px 0 var(--primary-shadow);
    @include btn-filled;
}
@include withMediaQueries(btn-light-primary) {
    --bg: var(--light-primary-color);
    --color: var(--color-over-primary, var(--light-color));
    --box-shadow: 0 0 16px 0 var(--primary-shadow);
    @include btn-filled;
}
@include withMediaQueries(btn-dark-primary) {
    --bg: var(--dark-primary-color);
    --color: var(--color-over-primary, var(--light-color));
    --box-shadow: 0 0 16px 0 var(--primary-shadow);
    @include btn-filled;
}

// SECONDARY
@include withMediaQueries(btn-secondary) {
    --bg: var(--secondary-color);
    --color: var(--color-over-secondary, var(--light-color));
    --box-shadow: 0 0 16px 0 var(--secondary-shadow);
    @include btn-filled;
}
@include withMediaQueries(btn-light-secondary) {
    --bg: var(--light-secondary-color);
    --color: var(--color-over-secondary, var(--light-color));
    --box-shadow: 0 0 16px 0 var(--secondary-shadow);
    @include btn-filled;
}
@include withMediaQueries(btn-dark-secondary) {
    --bg: var(--dark-secondary-color);
    --color: var(--color-over-secondary, var(--light-color));
    --box-shadow: 0 0 16px 0 var(--secondary-shadow);
    @include btn-filled;
}

// GREYS
@include withMediaQueries(btn-black) {
    --bg: var(--black-color);
    --color: var(--pale-color);
    --box-shadow: 0 0 16px 0 var(--dark-shadow);
    @include btn-filled;
}
@include withMediaQueries(btn-dark) {
    --bg: var(--dark-color);
    --color: var(--pale-color);
    --box-shadow: 0 0 16px 0 var(--dark-shadow);
    @include btn-filled;
}
@include withMediaQueries(btn-grey) {
    --bg: var(--grey-color);
    --color: var(--pale-color);
    --box-shadow: 0 0 16px 0 var(--dark-shadow);
    @include btn-filled;
}
@include withMediaQueries(btn-light) {
    --bg: var(--light-color);
    --color: var(--dark-color);
    --box-shadow: 0 0 16px 0 var(--dark-shadow);
    @include btn-filled;
}

// OTHERS
@include withMediaQueries(btn-info) {
    --bg: var(--info-color);
    --color: var(--pale-color);
    --box-shadow: 0 0 16px 0 var(--dark-shadow);
    @include btn-filled;
}
@include withMediaQueries(btn-success) {
    --bg: var(--success-color);
    --color: var(--pale-color);
    --box-shadow: 0 0 16px 0 var(--dark-shadow);
    @include btn-filled;
}
@include withMediaQueries(btn-warning) {
    --bg: var(--warning-color);
    --color: var(--pale-color);
    --box-shadow: 0 0 16px 0 var(--dark-shadow);
    @include btn-filled;
}
@include withMediaQueries(btn-error) {
    --bg: var(--error-color);
    --color: var(--pale-color);
    --box-shadow: 0 0 16px 0 var(--dark-shadow);
    @include btn-filled;
}

.dark-mode {
    .btn-primary,
    .btn-secondary {
        --sub-bg: var(--grey-10);
    }
    .btn-light-primary,
    .btn-light-secondary {
        --sub-bg: var(--light-10);
    }
}

// BTN BORDER
@mixin btn-border {
    --bg: transparent;
    @include button;
    @include bordered;
}

// PRIMARY
@include withMediaQueries(btn-border-primary) {
    --border: var(--primary-color);
    --hovered-text: var(--color-over-primary);
    --box-shadow: 0 0 16px 0 var(--primary-border-shadow);
    @include btn-border;
}
@include withMediaQueries(btn-border-light-primary) {
    --border: var(--light-primary-color);
    --hovered-text: var(--color-over-primary);
    --box-shadow: 0 0 16px 0 var(--primary-border-shadow);
    @include btn-border;
}
@include withMediaQueries(btn-border-dark-primary) {
    --border: var(--dark-primary-color);
    --hovered-text: var(--color-over-primary);
    --box-shadow: 0 0 16px 0 var(--primary-border-shadow);
    @include btn-border;
}

// SECONDARY
@include withMediaQueries(btn-border-secondary) {
    --border: var(--secondary-color);
    --hovered-text: var(--color-over-secondary);
    --box-shadow: 0 0 16px 0 var(--secondary-border-shadow);
    @include btn-border;
}
@include withMediaQueries(btn-border-light-secondary) {
    --border: var(--light-secondary-color);
    --hovered-text: var(--color-over-secondary);
    --box-shadow: 0 0 16px 0 var(--secondary-border-shadow);
    @include btn-border;
}
@include withMediaQueries(btn-border-dark-secondary) {
    --border: var(--dark-secondary-color);
    --hovered-text: var(--color-over-secondary);
    --box-shadow: 0 0 16px 0 var(--secondary-border-shadow);
    @include btn-border;
}

// GREYS
@include withMediaQueries(btn-border-black) {
    --border: var(--black-color);
    --hovered-text: var(--pale-color);
    --box-shadow: 0 0 16px 0 var(--dark-border-shadow);
    @include btn-border;
}
@include withMediaQueries(btn-border-dark) {
    --border: var(--dark-color);
    --hovered-text: var(--pale-color);
    --box-shadow: 0 0 16px 0 var(--dark-border-shadow);
    @include btn-border;
}
@include withMediaQueries(btn-border-grey) {
    --border: var(--grey-color);
    --hovered-text: var(--pale-color);
    --box-shadow: 0 0 16px 0 var(--dark-border-shadow);
    @include btn-border;
}
@include withMediaQueries(btn-border-light) {
    --border: var(--light-color);
    --hovered-text: var(--dark-color);
    --box-shadow: 0 0 16px 0 var(--dark-border-shadow);
    @include btn-border;
}

// OTHERS
@include withMediaQueries(btn-border-info) {
    --border: var(--info-color);
    --box-shadow: 0 0 16px 0 var(--dark-shadow);
    @include btn-border;
}
@include withMediaQueries(btn-border-success) {
    --border: var(--success-color);
    --box-shadow: 0 0 16px 0 var(--dark-shadow);
    @include btn-border;
}
@include withMediaQueries(btn-border-warning) {
    --border: var(--warning-color);
    --box-shadow: 0 0 16px 0 var(--dark-shadow);
    @include btn-border;
}
@include withMediaQueries(btn-border-error) {
    --border: var(--error-color);
    --box-shadow: 0 0 16px 0 var(--dark-shadow);
    @include btn-border;
}

// BTN TEXT
@mixin text {
    align-items: center;
    background: unset;
    border: none;
    border-radius: 9px;
    cursor: pointer;
    display: flex;
    font: inherit;
    margin: 0 8px;
    outline: none;
    box-shadow: unset;
    position: relative;

    &:before,
    &:after {
        border-bottom-width: 1px;
        border-color: currentColor;
        border-style: solid;
        border-top-width: 0;
        bottom: 0;
        content: '';
        position: absolute;
        height: 1px;
        transition: height 0.2s, width 0.3s;
        transition-delay: 0s, 0.2s;
    }
    &:before {
        border-bottom-left-radius: 9px;
        border-left-width: 1px;
        border-right-width: 0;
        right: 50%;
        width: 15%;
        overflow-x: hidden;
    }
    &:after {
        border-bottom-right-radius: 9px;
        border-left-width: 0;
        border-right-width: 1px;
        left: 50%;
        width: 15%;
        overflow-x: hidden;
    }

    &:hover {
        &:before,
        &:after {
            height: 35%;
            transition-delay: 0.2s, 0s;
            width: 50%;
        }
    }

    > i {
        margin: 0;
    }
}

// BTN TEXT
@mixin btn-text {
    --bg: transparent;
    @include button;
    @include text;
}

// PRIMARY
@include withMediaQueries(btn-text-primary) {
    --color: var(--primary-color);
    @include btn-text;
}
@include withMediaQueries(btn-text-light-primary) {
    --color: var(--light-primary-color);
    @include btn-text;
}
@include withMediaQueries(btn-text-dark-primary) {
    --color: var(--dark-primary-color);
    @include btn-text;
}

// SECONDARY
@include withMediaQueries(btn-text-secondary) {
    --color: var(--secondary-color);
    @include btn-text;
}
@include withMediaQueries(btn-text-light-secondary) {
    --color: var(--light-secondary-color);
    @include btn-text;
}
@include withMediaQueries(btn-text-dark-secondary) {
    --color: var(--dark-secondary-color);
    @include btn-text;
}

// GREYS
@include withMediaQueries(btn-text-black) {
    --color: var(--black-color);
    @include btn-text;
}
@include withMediaQueries(btn-text-dark) {
    --color: var(--dark-color);
    @include btn-text;
}
@include withMediaQueries(btn-text-grey) {
    --color: var(--grey-color);
    @include btn-text;
}
@include withMediaQueries(btn-text-light) {
    --color: var(--light-color);
    @include btn-text;
}
@include withMediaQueries(btn-text-pale) {
    --color: var(--pale-color);
    @include btn-text;
}

// OTHERS
@include withMediaQueries(btn-text-info) {
    --color: var(--info-color);
    @include btn-text;
}
@include withMediaQueries(btn-text-success) {
    --color: var(--success-color);
    @include btn-text;
}
@include withMediaQueries(btn-text-warning) {
    --color: var(--warning-color);
    @include btn-text;
}
@include withMediaQueries(btn-text-error) {
    --color: var(--error-color);
    @include btn-text;
}
