@import '../../styles/variables.styl'

.grid
  .grid-element, .grid-row, .grid-column
    display inline-grid

  .container
    justify-self center
    min-width 80%

  .horiz-align-normal
    justify-self normal
  .horiz-align-auto
    justify-self auto
  .horiz-align-stretch
    justify-self stretch

  .horiz-align-start
    justify-self start
  .horiz-align-left
    justify-self left
  .horiz-align-center
    justify-self center
  .horiz-align-right
    justify-self right
  .horiz-align-end
    justify-self end

  .horiz-align-baseline
    justify-self baseline
  .horiz-align-first-baseline
    justify-self first baseline
  .horiz-align-last-baseline
    justify-self last baseline

.grid, .navbar, .body, .footer, .card
    display grid
    grid-auto-flow row
    min-width 100%

@media (max-width small-screen)
  .grid, .body, .footer, .card
    display flex
    flex-direction column

