.grid
  display grid
  max-width 100%

  .grid-container
    min-width 80%
    justify-self center


  .grid-element
    display inline-grid


  .horiz-align-normal
    justify-self normal
  .horiz-align-auto
    justify-self auto
  .horiz-align-stretch
    justify-self stretch

  .horiz-align-start
    justify-self start
  .horiz-align-left
    justify-self left
  .horiz-align-center
    justify-self center
  .horiz-align-right
    justify-self right
  .horiz-align-end
    justify-self end

  .horiz-align-baseline
    justify-self baseline
  .horiz-align-first-baseline
    justify-self first baseline
  .horiz-align-last-baseline
    justify-self last baseline