* {
    color: var(--color, var(--color-over-bg, var(--black-color)));
    transition: color 0.3s, background-color 0.3s;
}

// REMOVE
.color-inherit {
    --color: inherit !important;
}
.text-transparent {
    --color: transparent !important;
}

// PRIMARY
.text-primary {
    --color: var(--primary-color) !important;
}
.text-dark-primary {
    --color: var(--dark-primary-color) !important;
}
.text-light-primary {
    --color: var(--light-primary-color) !important;
}

// SECONDARY
.text-secondary {
    --color: var(--secondary-color) !important;
}
.text-dark-secondary {
    --color: var(--dark-secondary-color) !important;
}
.text-light-secondary {
    --color: var(--light-secondary-color) !important;
}

// GREYS
.text-black {
    --color: var(--black-color) !important;
}
.text-dark {
    --color: var(--dark-color) !important;
}
.text-grey {
    --color: var(--grey-color) !important;
}
.text-light {
    --color: var(--light-color) !important;
}
.text-pale {
    --color: var(--pale-color) !important;
}

// OTHERS
.text-info {
    --color: var(--info-color) !important;
}
.text-success {
    --color: var(--success-color) !important;
}
.text-warning {
    --color: var(--warning-color) !important;
}
.text-error {
    --color: var(--error-color) !important;
}
