:root {
    --primary-color: #f23535;
    --light-primary-color: #ff6464;
    --dark-primary-color: #c92c2c;

    --secondary-color: #f2b705;
    --light-secondary-color: #ffd042;
    --dark-secondary-color: #bf920d;

    // Inputs Color
    --info-color: #4478a6;
    --success-color: #43ac8a;
    --warning-color: #f7b500;
    --error-color: #d92b4b;

    --black-color: #333;
    --dark-color: #444;
    --dark-grey-color: #787878;
    --grey-color: #d7d7d7;
    --disabled-color: #eeeeee;
    --pale-grey-color: #f8f9fa;
    --light-color: #f8f8f8;
    --white-color: #ffffff;

    --bg-color: var(--light-color);
}

.dark-mode {
    --dark-mode-primary-color: var(--black-color);
    --dark-mode-light-primary-color: var(--dark-grey-color);
    --dark-mode-dark-primary-color: var(--dark-color);

    --primary-color: var(--dark-mode-primary-color);
    --light-primary-color: var(--dark-mode-light-primary-color);
    --dark-primary-color: var(--dark-mode-dark-primary-color);

    --dark-mode-secondary-color: var(--black-color);
    --dark-mode-light-secondary-color: var(--dark-grey-color);
    --dark-mode-dark-secondary-color: var(--dark-color);

    --secondary-color: var(--dark-mode-secondary-color);
    --light-secondary-color: var(--dark-mode-light-secondary-color);
    --dark-secondary-color: var(--dark-mode-dark-secondary-color);
}
