:root {
    --primary-color: #f23535;
    --light-primary-color: #ff6464;
    --dark-primary-color: #c92c2c;

    --secondary-color: #f2b705;
    --light-secondary-color: #ffd042;
    --dark-secondary-color: #bf920d;

    // Inputs Color
    --info-color: #4478a6;
    --success-color: #43ac8a;
    --warning-color: #f7b500;
    --error-color: #d92b4b;

    --black: #333;
    --dark: #444;
    --dark-grey: #787878;
    --grey: rgb(215, 215, 215);
    --disabled: rgb(238, 238, 238);
    --pale-grey: rgb(248, 249, 250);
    --light: rgb(248, 248, 248);
    --white: #ffffff;
    --grey-10: rgba(215, 215, 215, 0.1);
    --disabled-10: rgba(238, 238, 238, 0.1);

    --black-color: var(--black);
    --dark-color: var(--dark);
    --dark-grey-color: var(--dark-grey);
    --grey-color: var(--grey);
    --disabled-color: var(--disabled);
    --pale-grey-color: var(--pale-grey);
    --light-color: var(--light);
    --white-color: var(--white);

    --bg-color: var(--light);

    --color-hover-primary: var(--white);
    --color-hover-secondary: var(--white);
}

.dark-mode {
    --primary-color: var(--dark);
    --light-primary-color: var(--dark-grey);
    --dark-primary-color: var(--black);

    --secondary-color: var(--dark);
    --light-secondary-color: var(--dark-grey);
    --dark-secondary-color: var(--black);

    --color-hover-primary: var(--light);
    --color-hover-secondary: var(--light);

    // Inputs Color
    --info-color: var(--grey);
    --success-color: var(--grey);
    --warning-color: var(--grey);
    --error-color: var(--grey);

    --black-color: var(--grey);
    --dark-color: var(--grey);
    --dark-grey-color: var(--grey);
    --grey-color: var(--grey);
    --disabled-color: var(--dark-grey);
    --pale-grey-color: var(--dark-grey);
    --light-color: var(--dark);
    --white-color: var(--black);

    --bg-color: var(--dark-grey);
}
