@import '_variables';

@import '_colors';
@import '_fonts';

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    background-color: var(--bg-color);
    line-height: 1.4;
}

body {
    background-color: #333;
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow: hidden;

    > div {
        background-color: var(--bg-color);
    }
}

* {
    outline-style: none;
    max-width: 100%;

    &::selection {
        background-color: var(
            --selection-background,
            var(--light-primary-color, rgba(0, 0, 0, 0.1))
        );
    }
}

.no-selection-bg {
    &::selection {
        background-color: transparent !important;
    }
}

article,
aside,
footer,
header,
nav,
section {
    display: block;
}

a,
.link {
    @include semibold;
    --color: var(--link-color, var(--grey-color));
    text-decoration: none;
}

.separator {
    border-bottom: 1px solid var(--black-8);
    height: 0;
    margin-top: 24px;
    margin-bottom: 32px;
    width: 100%;
}
