@import '../../../styles/font.styl'
@import '../../../styles/colors.styl'

footer-font-size = 1.1rem
footer-font-size-bigger = 1.6rem
footer-title-font-size = 2.1rem

.footer
  background-color primary-color
  color font-color-on-primary
  width 100%
  font-size footer-font-size

  .footer-list, .footer-line
    display inline-grid
    align-self start

    .list-item, .line-item
      align-items center
      justify-self center
      text-align center
      overflow hidden

      > *
        color white
        border 0
        margin 0
        padding .5rem 0

      a
        cursor pointer

    .list-item
      width 80%

      > h1, h2, h3, h4, h5, h6
        font-weight bold

      a, .line-item a
        box-sizing border-box
        font-weight normal

    .line-item
      width 100%
      a
        font-weight bold
        transition background .3s
        &:hover
          background-color link-hover-black-shade-bg
