.footer
  --footer-font-size 1.1rem
  --footer-font-size-bigger 1.6rem
  --footer-title-font-size 2.1rem

  align-content end
  grid-row-gap 0.8rem
  width 100%

  font-size var(--footer-font-size)

  z-index 99

  > *
    color var(--font-color-on-primary)
    transition color 0.4s

  .footer-line
    grid-auto-flow column

  .footer-list, .footer-line
    display inline-grid
    align-self start
    height 100%

  .list-item, .line-item
    align-content center
    justify-self center
    text-align center
    overflow hidden
    height 100%

    border 0
    margin 0
    padding .5rem 0

  .list-item, .line-item
    a
      cursor pointer
      height 100%

  .list-item
    width 80%

  h1, h2, h3, h4, h5, h6
    &.list-item
      font-weight bold

  a
    color var(--font-color-on-primary)
    box-sizing border-box
    font-weight bold
    transition background .4s, color .4s
    width 100%

    &:hover
      background-color var(--link-hover-black-shade-bg)

  .footer-separator
    height 1px
    border-bottom solid 1px rgba(white, 0.5)
