.grid, .navbar, .body, .footer, .card, .product
  display grid
  grid-auto-flow row
  min-width 100%

@media (max-width small-screen)
  .grid, .body, .footer, .card, .product
    display flex
    flex-direction column

.grid
  border-width = 2.6rem

  &.border-menu-opened
    border border-width
  .border-menu-icon
    width border-width

  > *
    display inline-grid

  .container
    justify-self center
    min-width 80%