.field {
    .checkbox {
        --checkbox-color: var(--secondary-color);
        box-shadow: none !important;
        background-color: unset !important;
        &,
        label {
            cursor: pointer;
        }

        .icon {
            border: solid 2px var(--checkbox-color);
        }
    }

    &.disabled .radio {
        &,
        label {
            cursor: not-allowed;
        }
    }
}
