@import '../../../styles/font.styl'
@import '../../../styles/colors.styl'

.product
  background-color #efefef
  border-radius .2rem
  overflow hidden
  height fit-content

  .product-image, .product-description
    display inline-grid

  .product-image
    object-fit cover
    max-width 100%

  .product-info
    margin 2rem

  .product-title > *
    font-weight bold
    color darken(primary-color, 10%)

  .product-description
    z-index 1
    max-width 100%
    font-size 1.4rem