.bg-none
  background-color none !important
.bg-primary
  background-color var(--primary-color) !important
  color var(--font-color-on-primary)
.bg-secondary
  background-color var(--secondary-color) !important
  color var(--font-color-on-secondary)
.bg-tertiary
  background-color var(--tertiary-color) !important
  color var(--font-color-on-tertiary)

.bg-success
  background-color var(--success-color) !important
.bg-warning
  background-color var(--warning-color) !important
.bg-error
  background-color var(--error-color) !important
  color var(--font-color-on-error)
.bg-info
  background-color var(--info-color) !important

.bg-input
  background-color var(--default-input-bg) !important
  color var(--default-input-color)

.bg-grey
  background-color var(--grey) !important
.bg-dark-grey
  background-color var(--dark-grey) !important



// .bg-pastel-purple
//   background-color var(--pastel-purple) !important
// .bg-pastel-orange
//   background-color var(--pastel-orange) !important
