
.border-success, .border-warning, .border-error, .border-info
  box-sizing border-box
  border 1 solid #222
  &.border-rounded
    border-radius .2rem

.border-success
  border-color var(--success-color) !important
.border-warning
  border-color var(--warning-color) !important
.border-error
  border-color var(--error-color) !important
.border-info
  border-color var(--info-color) !important
