:root
  --primary-bg #fafafa
  --primary-color rgb(199, 85, 50)
  --primary-color lighten(#FF801E, 10%)
  --primary-color rgba(lighten(purple, 10%), .7)
  --primary-color #c75532

  --secondary-color: rgb(182, 255, 111)
  --secondary-color:  lighten(gold, 10%)
  --tertiary-color: #8c9feb

  --font-color-on-primary: #fafafa
  --font-color-on-secondary: #222
  --font-color-on-tertiary: #fafafa

  --font-color-on-error: #fafafa

  // Color set 2
  --primary-color-1: rgb(255, 150, 32)
  --secondary-color-1: rgb(56, 191, 50)
  --tertiary-color-1: rgb(255, 104, 104)
  --quaternary-color-1: rgb(161, 44, 255)
  --quinary-color-1: rgb(255, 239, 79)


  --link-hover-black-shade-bg: rgba(0, 0, 0, 0.2)
  --link-active-black-shade-bg: rgba(0, 0, 0, 0.4)

  --pastel-green: lighten(#8e3, 6%)
  --pastel-yellow: lighten(gold, 16%)
  --pastel-red: #fe4747
  --pastel-blue: lighten(#35f, 20%)

  --success-color: var(--pastel-green)
  --warning-color: var(--pastel-yellow)
  --error-color: var(--pastel-red)
  --info-color: var(--pastel-blue)

  --link-color: #4c7184
