.min-height-15 {
  min-height: 15rem;
}

.grid {
  .grid-element {
    .bg-error, .bg-info, .bg-warning, .bg-success {
      justify-content center
      align-items center
      display flex
    }
  }
}