
primary-color = #33CC33

.min-height-15 {
  min-height: 15rem;
}

.min-width-15 {
  min-width: 15rem;
}

.grid.page {
  min-width 100vw
  min-height: 100vh

  > .grid-element:not(.navbar):not(.footer) {
    justify-content center
    align-content center
  }

}