:root
  --google-fonts Rubik, Karla, Ubuntu, Poppins, Oswald
  --font-stack var(--google-fonts), Roboto, 'Segoe UI', Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif
  --off-black rgba(0, 0, 0, 0.85)

  --h1-fontsize 3.5em
  --h2-fontsize 2.8em
  --h3-fontsize 2.2em
  --h4-fontsize 1.7em
  --h5-fontsize 1.3em
  --h6-fontsize 1.0em


  --sm-span-fontsize 0.8em
  --span-fontsize h6-fontsize
  --md-span-fontsize h5-fontsize
  --lg-span-fontsize h4-fontsize
  --xl-span-fontsize h3-fontsize

  --p-fontsize h6-fontsize


html
  line-height 1.5
  color var(--off-black)
  font-family var(--font-stack)
  font-weight normal

  a
    text-decoration none

  h1, h2, h3, h4, h5, h6
    font-weight 400
    line-height 1.3
    a
      font-weight inherit

  h1
    font-size var(--h1-fontsize)
  h2
    font-size var(--h2-fontsize)
  h3
    font-size var(--h3-fontsize)
  h4
    font-size var(--h4-fontsize)
  h5
    font-size var(--h5-fontsize)
  h6
    font-size var(--h6-fontsize)

  p
    font-size var(--p-fontsize)
  span
    font-size var(--span-fontsize)
    &.sm
      font-size var(--sm-span-fontsize)
    &.md
      font-size var(--md-span-fontsize)
    &.lg
      font-size var(--lg-span-fontsize)
    &.xl
      font-size var(--xl-span-fontsize)


  .text-center
    text-align center !important
  .text-left
    text-align left !important
  .text-right
    text-align right !important
  .text-justify
    text-align justify !important


  .text-primary
    color var(--primary-color) !important
  .text-secondary
    color var(--secondary-color) !important
  .text-white
    color #fafafa !important

  .text-over-primary
    color var(--font-color-on-primary) !important
  .text-over-secondary
    color var(--font-color-on-secondary) !important
  .text-over-tertiary
    color var(--font-color-on-tertiary) !important
  .text-over-error
    color var(--font-color-on-error) !important

  .text-success
    color var(--success-color) !important
  .text-warning
    color var(--warning-color) !important
  .text-error
    color var(--error-color) !important
  .text-info
    color var(--info-color) !important


for value in (1..20)
  step = 2 * value
  .font-{step}
    font-size step * 1px !important

.bold
  font-weight 900