--border-width 4rem

.border-menu
  border-width 0
  border-color var(--primary-color)
  border-style solid
  box-sizing border-box
  transition border-width .2s

  &.opn
    border-width var(--border-wdth)
    border-top 0
    border-bottom 0

.border-menu-icon
  transition width .2s
  &.opn
    width var(--border-wdth)

.banner
  max-height 7rem
  img
    min-width 100%




.extends-on-hover
  transition width 10s
  &:hover
    width 120%

.grow-on-hover
  transition height 10s
  &:hover
    height 120%

.block
  display block !important

.flex
  display flex !important

.flex-1
  flex 1 !important



.hidden
  visibility hidden
  height 0
  width 0
  padding 0
  margin 0
  border 0

.pointer
  cursor pointer !important

.darken-on-hover
  filter brightness(85%) !important

span >
    h1, h2, h3, h4, h5, h6
      display inline-grid
      margin 0
      font-weight bold

  img.fill-parent
  object-fit cover
  object-position center
  min-width 100%
  min-height 100%
  height 60rem
  width 100%
  transition all 1.2s;

a, a > *
  outline none
