@import url('//fonts.googleapis.com/css?family=Karla')
@import url('//fonts.googleapis.com/css?family=Ubuntu')
@import url('//fonts.googleapis.com/css?family=Oswald')
@import url('//fonts.googleapis.com/css?family=Poppins')
@import url('//fonts.googleapis.com/css?family=Rubik')
@import url('//fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp')
@import url('//fonts.googleapis.com/css?family=Amatic+SC');

@require './variables.styl'

@require './normalize.styl'
@require './font.styl'
@require './generic.styl'
@require './icons.styl'
@require './spacing.styl'

@require '../components/containers/Navbar'

@require '../components/containers/Slider'
@require '../components/containers/Product'

@require '../components/containers/Footer'
