@import './variables.styl'

@import './normalize.styl'
@import './font.styl'
@import './generic.styl'
@import './icons.styl'

@import '../components/containers/Navbar'

@import '../components/containers/Slider'
@import '../components/containers/Product'

@import '../components/containers/Footer'