*
  box-sizing border-box
  max-width 100%

html
  line-height 1.15 /* 1 */
  -ms-text-size-adjust 100% /* 2 */
  -webkit-text-size-adjust 100% /* 2 */

body
  background-color #333
  margin 0
  padding 0
  max-width 100%
  overflow hidden

  > div
    background-color var(--primary-bg)

a
  text-decoration none
  color var(--link-color)

.container
  max-width 80%

article, aside, footer, header, nav, section
  display block

h1
  font-size 2em
  margin 0.65em 0

.no-scrollbar
  overflow auto !important
  overflow-x hidden !important

  &::-webkit-scrollbar
    width 0 !important
    background transparent !important

  &::-webkit-scrollbar-thumb
    background red !important
