*
  box-sizing border-box

html
  line-height 1.15 /* 1 */
  -ms-text-size-adjust 100% /* 2 */
  -webkit-text-size-adjust 100% /* 2 */

body
  background-color #333
  margin 0
  padding 0

  > div
    background-color body-bg

a
  text-decoration none

.container
  max-width 80%

article, aside, footer, header, nav, section
  display block

h1
  font-size 2em
  margin 0.65em 0

.no-scrollbar
  overflow scroll
  overflow-x hidden

  &::-webkit-scrollbar
    width 0
    background transparent

  &::-webkit-scrollbar-thumb
    background red