
.fixed
  position fixed !important
  max-width 100vw
.absolute
  position absolute !important
.relative
  position relative !important

for value in baseline stretch start flex-start left center right end flex-end space-around space-between space-evenly
  .justify-{value}
    justify-content value !important
  .align-{value}
    align-content value !important
    
  for suffix in items self
    .justify-{suffix}-{value}
      justify-{suffix} value !important
    .align-{suffix}-{value}
      align-{suffix} value !important


.place-center
  align-content center !important
  justify-content center !important


.top-right-corner, .top-left-corner, .bottom-right-corner, .bottom-left-corner
  position absolute

.top-right-corner, .top-left-corner
  top 0
.bottom-right-corner, .bottom-left-corner
  bottom 0
.top-left-corner, .bottom-left-corner
  left 0
.top-right-corner, .bottom-right-corner
  right 0

.top-right-corner.with-radius
    border-bottom-left-radius 15%
.top-left-corner.with-radius
    border-bottom-right-radius 15%
.bottom-right-corner.with-radius
    border-top-left-radius 15%
.bottom-left-corner.with-radius
    border-top-right-radius 15%
