
.fixed
  position fixed !important
  max-width 100vw
.static
  position static !important
.absolute
  position absolute !important
.relative
  position relative !important

@media (max-width 640px)
  .sm-fixed
    position fixed !important

@media (max-width 840px)
  .md-fixed
    position fixed !important

@media (max-width 1040px)
  .lg-fixed
    position fixed !important

@media (max-width 1280px)
  .xl-fixed
    position fixed !important

@media (max-width 1540px)
  .xxl-fixed
    position fixed !important

@media (max-width 1880px)
  .xxxl-fixed
    position fixed !important


for step in (0..20)
  i = step * 5
  .z-index-{i}
    z-index i !important



for value in baseline stretch start flex-start left center right end flex-end space-around space-between space-evenly
  for placementType in justify align
    .{placementType}-{value}
      {placementType}-content value !important

    for suffix in items self
      .{placementType}-{suffix}-{value}
        {placementType}-{suffix} value !important


.place-center
  align-content center !important
  justify-content center !important


.top-right-corner, .top-left-corner, .bottom-right-corner, .bottom-left-corner
  position absolute

.top-right-corner, .top-left-corner, .top-0
  top 0
.bottom-right-corner, .bottom-left-corner, .bottom-0
  bottom 0
.top-left-corner, .bottom-left-corner, .center-left, .left-0
  left 0
.top-right-corner, .bottom-right-corner, .center-right, .right-0
  right 0

.center-left, .center-right
  top 50%
  transform translateY(-50%)


.top-right-corner.with-radius
  border-bottom-left-radius 15%
.top-left-corner.with-radius
  border-bottom-right-radius 15%
.bottom-right-corner.with-radius
  border-top-left-radius 15%
.bottom-left-corner.with-radius
  border-top-right-radius 15%
