
.fixed
  position fixed !important
  max-width 100vw
.absolute
  position absolute !important
.relative
  position relative !important


.justify-baseline
  justify-content baseline !important
.justify-stretch
  justify-content stretch !important
.justify-start
  justify-content start !important
.justify-flex-start
  justify-content flex-start !important
.justify-left
  justify-content left !important
.justify-center
  justify-content center !important
.justify-right
  justify-content right !important
.justify-end
  justify-content end !important
.justify-flex-end
  justify-content flex-end !important
.justify-around
  justify-content space-around !important
.justify-between
  justify-content space-between !important
.justify-evenly
  justify-content space-evenly !important


.align-baseline
  align-content baseline !important
.align-stretch
  align-content stretch !important
.align-start
  align-content start !important
.align-flex-start
  align-content flex-start !important
.align-left
  align-content left !important
.align-center
  align-content center !important
.align-right
  align-content right !important
.align-end
  align-content end !important
.align-flex-end
  align-content flex-end !important
.align-around
  align-content space-around !important
.align-between
  align-content space-between !important
.align-evenly
  align-content space-evenly !important

.place-center
  align-content center !important
  justify-content center !important


.top-right-corner, .top-left-corner, .bottom-right-corner, .bottom-left-corner
  position absolute

.top-right-corner, .top-left-corner
  top 0
.bottom-right-corner, .bottom-left-corner
  bottom 0
.top-left-corner, .bottom-left-corner
  left 0
.top-right-corner, .bottom-right-corner
  right 0

.top-right-corner.with-radius
    border-bottom-left-radius 15%
.top-left-corner.with-radius
    border-bottom-right-radius 15%
.bottom-right-corner.with-radius
    border-top-left-radius 15%
.bottom-left-corner.with-radius
    border-top-right-radius 15%
