@media (min-width 641px) and (max-width 840px)
  .hide-on-sm
    display none !important

@media (min-width 841px) and (max-width 1040px)
  .hide-on-md
    display none !important

@media (min-width 1041px) and (max-width 1280px)
  .hide-on-lg
    display none !important

@media (min-width 1281px) and (max-width 1540px)
  .hide-on-xl
    display none !important

@media (min-width 1541px) and (max-width 1880px)
  .hide-on-xxl
    display none !important

@media (min-width 1881px)
  .hide-on-xxxl, .hide-since-xxxl
    display none !important



@media (min-width 641px)
  .hide-since-sm
    display none !important

@media (min-width 841px)
  .hide-since-md
    display none !important

@media (min-width 1041px)
  .hide-since-lg
    display none !important

@media (min-width 1281px)
  .hide-since-xl
    display none !important

@media (min-width 1541px)
  .hide-since-xxl
    display none !important



@media (max-width 640px)
  .hide-until-sm
    display none !important

@media (max-width 840px)
  .hide-until-md
    display none !important

@media (max-width 1040px)
  .hide-until-lg
    display none !important

@media (max-width 1280px)
  .hide-until-xl
    display none !important

@media (max-width 1540px)
  .hide-until-xxl
    display none !important

@media (max-width 1840px)
  .hide-until-xxxl
    display none !important
