  .m-auto
    margin auto !important

  .mt-auto, .mv-auto
    margin-top auto !important
  .mb-auto, .mv-auto
    margin-bottom auto !important

  .ml-auto, .mh-auto
    margin-left auto !important
  .mr-auto, .mh-auto
    margin-right auto !important


  .p-auto
    padding auto !important

  .pt-auto, .pv-auto
    padding-top auto !important
  .pb-auto, .pv-auto
    padding-bottom auto !important

  .pl-auto, .ph-auto
    padding-left auto !important
  .pr-auto, .ph-auto
    padding-right auto !important


for $i in (0..5)
  .m-{$i}
    margin $i * 1px !important

  .mt-{$i}, .mv-{$i}
    margin-top $i * 1px !important
  .mb-{$i}, .mv-{$i}
    margin-bottom $i * 1px !important

  .ml-{$i}, .mh-{$i}
    margin-left $i * 1px !important
  .mr-{$i}, .mh-{$i}
    margin-right $i * 1px !important


  .p-{$i}
    padding $i * 1px !important

  .pt-{$i}, .pv-{$i}
    padding-top $i * 1px !important
  .pb-{$i}, .pv-{$i}
    padding-bottom $i * 1px !important

  .pl-{$i}, .ph-{$i}
    padding-left $i * 1px !important
  .pr-{$i}, .ph-{$i}
    padding-right $i * 1px !important


for $step in (2..20)
  $i = $step * 5
  .m-{$i}
    margin $i * 1px !important

  .mt-{$i}, .mv-{$i}
    margin-top $i * 1px !important
  .mb-{$i}, .mv-{$i}
    margin-bottom $i * 1px !important

  .ml-{$i}, .mh-{$i}
    margin-left $i * 1px !important
  .mr-{$i}, .mh-{$i}
    margin-right $i * 1px !important


  .p-{$i}
    padding $i * 1px !important

  .pt-{$i}, .pv-{$i}
    padding-top $i * 1px !important
  .pb-{$i}, .pv-{$i}
    padding-bottom $i * 1px !important

  .pl-{$i}, .ph-{$i}
    padding-left $i * 1px !important
  .pr-{$i}, .ph-{$i}
    padding-right $i * 1px !important
