small-screen-up = 601px
medium-screen-up = 993px
large-screen-up = 1201px
small-screen = 600px
medium-screen = 992px
large-screen = 1200px

@require 'variables/generic.styl'
@require 'variables/font.styl'
@require 'variables/colors.styl'
