// Background-color
.bg-none {
    background-color: none !important;
}
.bg-transparent {
    background-color: transparent !important;
}
.bg-primary {
    background-color: var(--primary-color) !important;
}
.bg-light-primary {
    background-color: var(--light-primary-color) !important;
}
.bg-dark-primary {
    background-color: var(--dark-primary-color) !important;
}
.bg-secondary {
    background-color: var(--secondary-color) !important;
}
.bg-light-secondary {
    background-color: var(--light-secondary-color) !important;
}
.bg-dark-secondary {
    background-color: var(--dark-secondary-color) !important;
}

.bg-black {
    background-color: var(--black-color) !important;
}
.bg-dark {
    background-color: var(--dark-color) !important;
}
.bg-dark-grey {
    background-color: var(--dark-grey-color) !important;
}
.bg-grey {
    background-color: var(--grey-color) !important;
}
.bg-disabled {
    background-color: var(--disabled-color) !important;
}
.bg-pale-grey {
    background-color: var(--pale-grey-color) !important;
}
.bg-light {
    background-color: var(--light-color) !important;
}
.bg-white {
    background-color: var(--white-color) !important;
}

.bg-info {
    background-color: var(--info-color) !important;
}
.bg-success {
    background-color: var(--success-color) !important;
}
.bg-warning {
    background-color: var(--warning-color) !important;
}
.bg-error {
    background-color: var(--error-color) !important;
}
