@import '../mixins/mediaQueries';

@each $display in inline-block, block, inline, grid, inline-grid, flex {
    @include withMediaQueries($display) {
        display: $display !important;
    }
}

@include withMediaQueries(hide) {
    display: none !important;
}

.hidden {
    opacity: 0;
    position: absolute;
    pointer-events: none;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
}
