@import '../mixins/mediaQueries';

@each $type in -y, -x, '' {
    @each $value in scroll, visible, hidden, auto {
        $class: overflow#{$type}-#{$value};
        @include withMediaQueries($class) {
            overflow#{$type}: $value !important;
        }
    }
}

.overflow-ellipsis {
    text-overflow: ellipsis !important;
    overflow-x: hidden;
    white-space: nowrap;
}

.nowrap {
    white-space: nowrap;
}
.break-spaces {
    white-space: break-spaces;
}
