@import '../mixins/mediaQueries';

/**
 * UTILS
 */
@mixin generate-margin-padding($i, $unit, $padding-too: false) {
    $trueUnit: $unit;
    @if ($unit == \%) {
        $trueUnit: '%';
    }

    $class: '';
    @if ($unit == px) {
        $class: m-#{$i};
    } @else {
        $class: m-#{$i}#{$unit};
    }
    @include withMediaQueries($class) {
        margin: unquote('#{$i}#{$trueUnit}') !important;
    }

    @if ($unit == px) {
        $class: mv-#{$i};
    } @else {
        $class: mv-#{$i}#{$unit};
    }
    @include withMediaQueries($class) {
        margin-top: unquote('#{$i}#{$trueUnit}') !important;
        margin-bottom: unquote('#{$i}#{$trueUnit}') !important;
    }

    @if ($unit == px) {
        $class: mt-#{$i};
    } @else {
        $class: mt-#{$i}#{$unit};
    }
    @include withMediaQueries($class) {
        margin-top: unquote('#{$i}#{$trueUnit}') !important;
    }

    @if ($unit == px) {
        $class: mb-#{$i};
    } @else {
        $class: mb-#{$i}#{$unit};
    }
    @include withMediaQueries($class) {
        margin-bottom: unquote('#{$i}#{$trueUnit}') !important;
    }

    @if ($unit == px) {
        $class: mh-#{$i};
    } @else {
        $class: mh-#{$i}#{$unit};
    }
    @include withMediaQueries($class) {
        margin-left: unquote('#{$i}#{$trueUnit}') !important;
        margin-right: unquote('#{$i}#{$trueUnit}') !important;
    }

    @if ($unit == px) {
        $class: ml-#{$i};
    } @else {
        $class: ml-#{$i}#{$unit};
    }
    @include withMediaQueries($class) {
        margin-left: unquote('#{$i}#{$trueUnit}') !important;
    }

    @if ($unit == px) {
        $class: mr-#{$i};
    } @else {
        $class: mr-#{$i}#{$unit};
    }
    @include withMediaQueries($class) {
        margin-right: unquote('#{$i}#{$trueUnit}') !important;
    }

    @if ($padding-too) {
        @if ($unit == px) {
            $class: p-#{$i};
        } @else {
            $class: p-#{$i}#{$unit};
        }
        @include withMediaQueries($class) {
            padding: unquote('#{$i}#{$trueUnit}') !important;
        }

        @if ($unit == px) {
            $class: pv-#{$i};
        } @else {
            $class: pv-#{$i}#{$unit};
        }
        @include withMediaQueries($class) {
            padding-top: unquote('#{$i}#{$trueUnit}') !important;
            padding-bottom: unquote('#{$i}#{$trueUnit}') !important;
        }

        @if ($unit == px) {
            $class: pt-#{$i};
        } @else {
            $class: pt-#{$i}#{$unit};
        }
        @include withMediaQueries($class) {
            padding-top: unquote('#{$i}#{$trueUnit}') !important;
        }

        @if ($unit == px) {
            $class: pb-#{$i};
        } @else {
            $class: pb-#{$i}#{$unit};
        }
        @include withMediaQueries($class) {
            padding-bottom: unquote('#{$i}#{$trueUnit}') !important;
        }

        @if ($unit == px) {
            $class: ph-#{$i};
        } @else {
            $class: ph-#{$i}#{$unit};
        }
        @include withMediaQueries($class) {
            padding-left: unquote('#{$i}#{$trueUnit}') !important;
            padding-right: unquote('#{$i}#{$trueUnit}') !important;
        }

        @if ($unit == px) {
            $class: pl-#{$i};
        } @else {
            $class: pl-#{$i}#{$unit};
        }
        @include withMediaQueries($class) {
            padding-left: unquote('#{$i}#{$trueUnit}') !important;
        }

        @if ($unit == px) {
            $class: pr-#{$i};
        } @else {
            $class: pr-#{$i}#{$unit};
        }
        @include withMediaQueries($class) {
            padding-right: unquote('#{$i}#{$trueUnit}') !important;
        }
    }
}

@include generate-margin-padding(auto, '', true);

// 0, 2, 4, 6, 8, 10
@for $step from 0 through 5 {
    $value: 2 * $step;
    @include generate-margin-padding($value, px, true);
}

// -2, -4, -6, -8, -10
@for $step from 1 through -5 {
    $value: 2 * $step;
    @include generate-margin-padding($value, px, true);
}

// 15, 20, 25, ..., 40, 45, 50
@for $step from 3 through 10 {
    $value: $step * 5;
    @include generate-margin-padding($value, px, true);
}

// 60, 70, 80, 90, 100
@for $step from 6 through 10 {
    $value: $step * 10;

    @include generate-margin-padding($value, px, true);
}

// -15, -20, -25, ..., -40, -45, -50
@for $step from -3 through -10 {
    $value: $step * 5;
    @include generate-margin-padding($value, px, true);
}

//  -60, -70, -80, -90, -100
@for $step from -6 through -10 {
    $value: $step * 10;

    @include generate-margin-padding($value, px);
}

// 2, 4, 6, 8, 10
// % vw vh
@for $step from 1 through 5 {
    $value: $step * 2;

    @each $unit in \%, vw, vh {
        @include generate-margin-padding($value, $unit, true);
    }
}

// 10, 20, 30, 40, 50, 60, 70, 80, 90, 100
// % vw vh
@for $step from 1 through 10 {
    $value: $step * 10;

    @each $unit in \%, vw, vh {
        @include generate-margin-padding($value, $unit, true);
    }
}
