@require '../../../styles/variables.styl'

.slider
  background-color primary-color
  display flex
  position relative

  &.screen-height
    height 100vh


  .slider-wrapper
    height 100%
    width 100%

    .slider-item
      object-fit cover
      object-position bottom center

      height 100%
      width 100%

      position absolute
      opacity 1

      transition transform 0.35s

      &.opacity-0
        opacity 0

      &::selection
        background-color transparent



  .left-arrow, .right-arrow
    display flex
    align-items center
    justify-content center

    height 100%
    width 15rem

    margin 0

    transition box-shadow 0.25s, color 0.25s

    &:hover
      color #eee


  .left-arrow
    left 0
    &:hover
      box-shadow inset rgba(16, 16, 16, 0.25) 5rem 0 5rem -3rem

  .right-arrow
    right 0

    &:hover
      box-shadow inset rgba(16, 16, 16, 0.25) -5rem 0 5rem -3rem
