.slider
  display flex
  position relative

  &.screen-height
    height 100vh


  .slider-wrapper
    height 100%
    width 100%

    .slide

      display flex
      justify-content center
      align-items center

      height 100%
      width 100%

      position absolute
      opacity 1

      transition transform 0.3s, opacity 0.3s

      &.opacity-0
        opacity 0

      &::selection
        background-color transparent

      img
        object-fit cover
        object-position center


  .left-arrow, .right-arrow
    &.icon
      position absolute
      display flex
      align-items center
      justify-content center

      color var(--primary-color)

      font-size calc(8vw + 3em)

      padding 0
      top 50%
      transform translateY(-50%)

      margin 0

      transition filter 0.25s

      &.left-arrow
        left 0

      &.right-arrow
        right 0

      &:hover
        filter brightness(120%) grayscale(65%)
