.before-as-button
  position relative

  &:before
    background-color var(--hover-black-shade)
    bottom 0
    content ''
    left 0
    position absolute
    top 0
    transition width 0.2s
    width 0

  &:hover:before
    width 0.5rem

  &:active:before
    width 100%

  &:disabled:before
    cursor not-allowed
    width 0 !important


.btn
  @extends .before-as-button
  background-color: unset
  border 0
  border-radius 0.1rem
  cursor pointer
  font inherit
  font-size 1.3rem
  outline inherit
  overflow hidden
  padding 1rem 2rem

  .btn-label
    align-items center
    display flex
    grid-template-columns auto auto

  i.fa
    font-size 1.2rem
    margin-right 10px

  &.filled
    @extends .btn
    background-color var(--default-input-bg)
    color var(--default-input-color)

  &.filled-primary
    @extends .btn.filled
    background-color var(--primary-color) !important
    color var(--font-color-on-primary)

  &.filled-secondary
    @extends .btn.filled
    background-color var(--secondary-color) !important
    color var(--font-color-on-secondary)

  &.filled-error
    @extends .btn.filled
    background-color var(--error-color) !important
    color var(--font-color-on-error)

  &.filled-input
    @extends .btn.filled
    background-color var(--default-input-bg) !important
    color var(--default-input-color)

  &.filled-input-reversed
    @extends .btn.filled
    background-color var(--default-input-color) !important
    color var(--default-input-bg)

  &.text
    @extend .btn
    padding 5px 10px