.btn
  button-bg-color = #efefef
  button-font-color = #717171

  background-color button-bg-color
  border 0
  border-radius 0.1rem
  color button-font-color
  cursor pointer
  font inherit
  font-size 1.3rem
  margin 0.4rem 0.4rem 0.4rem 0
  outline inherit
  padding 0.6rem 1.6rem

  ::before
    content ""
    background-color rgba(0,0,0,0)
    transition background-color 0.2s

  &:hover
    hover-ratio = 8%

    ::before
      background-color rgba(0,0,0,hover-ratio)

  &:disabled
    cursor not-allowed

    ::before
      background-color rgba(255,255,255, 10%)

  .btn-label
    align-items center
    display inline-grid
    grid-template-columns auto auto

  i.fa
    font-size 1.2rem
    margin-right 10px
