.field .select {
    width: 100%;
    cursor: pointer;

    select {
        // A reset of styles, including removing the default dropdown arrow
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        // Additional resets for further consistency
        background-color: transparent;
        border: none;
        padding: 0 1em 0 0;
        margin: 0;
        width: 100%;
        font-family: inherit;
        font-size: inherit;
        cursor: inherit;
        line-height: inherit;

        &::-ms-expand {
            display: none;
        }
    }

    .input-icon {
        transform: rotate(0);
        transition: transform 0.3s;

        &.active {
            transform: rotate(180deg);
        }
    }
}
