@import '../../styles/font.styl'
@import '../../styles/colors.styl'

.card

  .card-image, .card-description
    display inline-grid

  .card-image
    object-fit cover
    min-width 100%
    max-width 100%

  .card-description
    z-index 1
    width 100%
    font-size 1.4rem