.icon
  &.material-icons, &.fa
    color darken(#eee, 8%)
    cursor pointer
    margin 0.4rem
    outline inherit
    padding 0.6rem
    font-size 4rem
    width fit-content

    &.xs, &.extra-small
      padding 0.2rem
      font-size 1.5rem

    &.sm, &.small
      padding 0.4rem
      font-size 2.5rem

    &.lg, &.large
      padding 0.8rem
      font-size 8rem

    &.xl, &.extra-large
      padding 1.2rem
      font-size 12rem


    &::selection
      background-color transparent
