:root {
    --border-width: 4rem;
}

.border-menu {
    border-width: 0;
    border-color: var(--primary-color);
    border-style: solid;
    box-sizing: border-box;
    transition: border-width 0.3s;

    &.open {
        border-width: var(--border-wdth);
        border-top: 0;
        border-bottom: 0;
    }
}

.border-menu-icon {
    transition: width 0.3s;

    &.open {
        width: var(--border-wdth);
    }
}
