@import '../../utils/colors.styl'

navbar-height = 64px !default
navbar-line-height = navbar-height !default
navbar-height-mobile = 56px !default
navbar-line-height-mobile = navbar-height-mobile !default
navbar-font-size = 1rem !default
navbar-font-color = #fff !default
navbar-brand-font-size = 2.1rem !default

.navbar
  background-color primary-color

  &.nav-extended
    height auto

    .nav-wrapper
      min-height navbar-height-mobile
      height auto

    .nav-content
      position relative
      line-height normal

