@import '../../styles/font.styl'
@import '../../styles/colors.styl'

navbar-height = 5.1vw
navbar-line-height = navbar-height

navbar-height-mobile = 64px
navbar-line-height-mobile = navbar-height-mobile

navbar-font-size = 1rem
navbar-brand-font-size = 2.1rem

navbar-font-color = #fff
navbar-brand-font-color = #fff


.navbar
  background-color primary-color

  width 100%
  height navbar-height-mobile
  line-height navbar-height-mobile

  font-size navbar-font-size

  .navlabel, .navicon, .brand
    display inline-grid
    color rgba(navbar-font-color, .8)
    transition background-color .3s, color .3s
    padding 0 .6rem

    &:hover
      cursor pointer
      background-color link-hover-black-shade-bg
      color navbar-brand-font-color
      transition background-color .3s, color .3s

  .navlabel, .navicon

    i.material-icons
      line-height navbar-height-mobile

  .brand
    font-family brand-font, Roboto, sans-serif;
    font-size navbar-brand-font-size

    padding 0 .8rem
