@import '../../utils/colors.styl'

navbar-height = 64px
navbar-line-height = navbar-height

navbar-height-mobile = 56px
navbar-line-height-mobile = navbar-height-mobile

navbar-font-size = 1rem
navbar-brand-font-size = 2.1rem

nav
  &.nav-extended
    height auto

    .wrap
      min-height navbar-height-mobile
      height auto

    .nav-content
      position relative
      line-height normal

  color font-color-on-primary
  background-color primary-color
  width 100%
  height navbar navbar-height-mobile
  line-height navbar-height-mobile

  .navlabel, .navicon
    color font-color-on-primary
    width 100%