@import url('https://fonts.googleapis.com/css?family=Karla')
@import url('https://fonts.googleapis.com/css?family=Ubuntu')
@import url('https://fonts.googleapis.com/css?family=Oswald')
@import url('https://fonts.googleapis.com/css?family=Poppins')
@import url('https://fonts.googleapis.com/css?family=Rubik')

google-fonts ?= Rubik, Karla, Ubuntu, Poppins, Oswald
font-stack ?= google-fonts, Roboto, 'Segoe UI', Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif
off-black ?= rgba(0, 0, 0, 0.85)

h1-fontsize ?= 3.5rem
h2-fontsize ?= 2.8rem
h3-fontsize ?= 2.2rem
h4-fontsize ?= 1.7rem
h5-fontsize ?= 1.3rem
h6-fontsize ?= 1.0rem


sm-span-fontsize ?= 0.8rem
span-fontsize ?= h6-fontsize
md-span-fontsize ?= h5-fontsize
lg-span-fontsize ?= h4-fontsize
xl-span-fontsize ?= h3-fontsize

p-fontsize ?= h6-fontsize
