.input

  background-color var(--default-input-bg)
  border 0
  border-radius 0.1rem
  color var(--default-input-color)
  cursor pointer
  font inherit
  outline inherit
  transition background-color 0.2s, color 0.2s
  position relative

  &:not(.small)
    font-size 1.25rem
    padding 0.6rem 1.6rem
    width 100%

  &:before
    bottom 0
    left 0
    position absolute
    right 0
    top 0
    background-color var(--hover-black-shade)

  &::placeholder
    color var(--default-input-color)
    opacity 0.7

  &.disabled, &:disabled
    cursor not-allowed
    pointer-events hover
