body-bg = rgb(250, 250, 250)

// Color set 1
primary-color = rgb(199, 85, 50)
secondary-color = rgb(182, 255, 111)
tertiary-color = rgb(48, 79, 204)

font-color-on-primary = #fff
font-color-on-secondary = #222
font-color-on-tertiary = #fff

// Color set 2
primary-color-1 = rgb(255, 150, 32)
secondary-color-1 = rgb(56, 191, 50)
tertiary-color-1 = rgb(255, 104, 104)
quaternary-color-1 = rgb(161, 44, 255)
quinary-color-1 = rgb(255, 239, 79)


link-hover-black-shade-bg = rgba(0, 0, 0, 0.2)
link-active-black-shade-bg = rgba(0, 0, 0, 0.4)

success-color = lighten(green, 15%)
warning-color = lighten(orange, 15%)
error-color = lighten(red, 15%)

link-color = desaturate(rgba(29, 201, 255, 0.8), 20%)

