.card
  background-color #dfdfdf
  border-radius .2rem
  overflow hidden

  .card-image, .card-description
    display inline-grid

  .card-image
    overflow hidden
    object-fit cover
    max-width 100%

  .card-description
    padding 1.5rem
    text-overflow ellipsis
    z-index 1
    width 90%
    font-size 1.4rem

  .footer
    //background-color secondary-color
    .footer-element
      padding 0
