@import 'muejs/src/base/_fonts.scss';

.field {
    --border-width: 1px;

    --placeholder-color: var(--grey-color);
    --main-text-color: var(--black-color);

    --empty-color: var(--dark-color);
    --empty-bg: var(--pale-color);
    --empty-border: var(--pale-color);

    --filled-bg: var(--bg-color);
    --filled-border: var(--grey-color);

    --hover-bg: var(--bg-color);
    --hover-border: var(--grey-color);

    --focus-bg: var(--bg-color);
    --focus-border: var(--secondary-color);
    --focus-box-shadow: 0 9px 16px 0 rgba(242, 183, 5, 0.1);

    --disabled-bg: var(--pale-color);
    --disabled-border: var(--pale-color);
    --disabled-color: var(--grey-color);

    --invalid-bg: var(--error-color);
    --invalid-border: var(--error-color);
    --invalid-color: var(--error-color);

    --valid-bg: var(--success-color);
    --valid-border: var(--success-color);
    --valid-color: var(--success-color);

    --info-bg: var(--info-color);
    --info-border: var(--info-color);
    --input-info-color: var(--info-color);
}
.dark-mode .field {
    --placeholder-color: var(--black-color);
    --main-text-color: var(--pale-color);

    --empty-bg: var(--grey-20);
    --empty-border: var(--grey-color);

    --filled-bg: var(--bg-color);
    --filled-color: var(--pale-color);

    --focus-border: var(--pale-color);
    --focus-box-shadow: 0 9px 16px 0 rgba(80, 80, 80, 0.1);

    --disabled-bg: var(--grey-color);
    --disabled-border: var(--grey-color);
    --disabled-color: var(--pale-color);
}

.field {
    display: inline-block;

    .label {
        @include caption;
        @include karla;
        display: inline-block;
        --color: var(--main-text-color);
    }

    input {
        border: 0;
        background-color: unset;
        max-width: 100%;
    }

    .input {
        --color: var(--main-text-color);

        @include body-14;
        @include medium;
        align-items: center;
        background-color: var(--filled-bg);
        display: flex;
        min-height: 48px;

        border-style: solid;
        border-width: 1px;
        border-color: var(--filled-border);
        border-radius: 9px;
        box-shadow: 0;
        padding-top: calc(14px - var(--border-width));
        padding-left: calc(16px - var(--border-width));
        padding-bottom: calc(14px - var(--border-width));
        padding-right: calc(16px - var(--border-width));
        position: relative;

        transition: border-color 0.3s, box-shadow 0.3s, color 0.3s,
            font-weight 0.3s, background-color 0.3s;

        &.with-icon {
            padding-right: calc(16px - var(--border-width) + 16px + 28px);
        }
    }

    &.empty {
        .input {
            @include regular;
            background-color: var(--empty-bg);
            border-color: var(--empty-border);

            &.permanent-border {
                border-color: var(--filled-bg);
            }
        }
    }

    .input:hover {
        --color: var(--main-text-color);
        background-color: var(--hover-bg);
        border-color: var(--hover-border);
        box-shadow: 0 9px 16px 0 rgba(144, 144, 144, 0.1);
    }

    &.invalid {
        .input,
        .label,
        .helper {
            --color: var(--invalid-color);
        }

        .input {
            border-color: var(--invalid-border);

            &::placeholder,
            &:-ms-input-placeholder,
            &::-ms-input-placeholder,
            .placeholder {
                @include bold;
                --color: var(--invalid-color);
                color: var(--invalid-color) !important;
            }
        }
    }

    &.valid {
        .input,
        .label,
        .helper {
            --color: var(--valid-color);
        }

        .input {
            border-color: var(--valid-color);

            &::placeholder,
            &:-ms-input-placeholder,
            &::-ms-input-placeholder,
            .placeholder {
                @include bold;
                --color: var(--valid-color);
                color: var(--valid-color) !important;
            }
        }
    }

    &.info {
        .input,
        .label,
        .helper {
            --color: var(--input-info-color);
        }

        .input {
            border-color: var(--info-border);

            &::placeholder,
            &:-ms-input-placeholder,
            &::-ms-input-placeholder,
            .placeholder {
                @include bold;
                --color: var(--input-info-color);
                color: var(--input-info-color) !important;
            }
        }
    }

    .input:focus {
        --color: var(--main-text-color);
        @include medium;
        background-color: var(--focus-bg);
        border-color: var(--focus-border);
        box-shadow: var(--focus-box-shadow);

        &::placeholder,
        &:-ms-input-placeholder,
        &::-ms-input-placeholder,
        .placeholder {
            @include medium;
            --color: var(--placeholder-color);
            color: var(--placeholder-color) !important;
        }
    }

    &.disabled {
        opacity: var(--disabled-opacity);

        .input {
            --color: var(--disabled-color);
            background-color: var(--disabled-bg);
            border-color: var(--disabled-border);
            box-shadow: none;
            cursor: not-allowed;
        }
    }

    &::placeholder,
    &:-ms-input-placeholder,
    &::-ms-input-placeholder,
    .placeholder {
        @include regular;
        --color: var(--placeholder-color);
        color: var(--placeholder-color) !important;
        opacity: 1;
    }

    /* TO FIX */
    &:-internal-autofill-previewed,
    &:-internal-autofill-selected {
        background-color: var(--focus-bg) !important;
        box-shadow: none;
        -webkit-box-shadow: none;
        -webkit-text-fill-color: var(--main-text-color);
    }

    .autocomplete {
        .no-suggestions {
            color: #999;
            padding: 0.5vw;
        }

        .suggestions button {
            &:hover,
            &.suggestion-active {
                font-weight: 700;
            }
        }
    }

    .checkbox,
    .radio {
        background-color: unset;
        border: 0;
        padding: 0;

        .check-icon {
            opacity: 0;
            transition: opacity ease-in-out 0.2s;

            &.checked {
                opacity: 1;
            }
        }
    }

    .option,
    .suggestion {
        @include body-14;
        @include medium;

        box-shadow: unset !important;
        cursor: pointer;
        text-align: left;
        width: 100%;

        > span {
            padding: 14px 20px;
        }

        &.active {
            --color: var(--secondary-color);
        }

        &:hover {
            background-color: var(--pale-color);
        }

        &:last-of-type {
            border: 0;
        }
    }

    .input-icon {
        right: 16px;
    }

    .helper {
        @include caption;
        @include regular;
        --color: var(--main-text-color);
    }
}
