.navbar
  --navbar-height 5vh

  --navbar-brand-font-size 2.5em

  width 100%
  height var(--navbar-height-mobile, 64px)
  line-height var(--navbar-height-mobile, 64px)


  z-index 100

  a
    display flex


  &::selection
    background-color transparent

  .nav-item
    color var(--font-color-on-primary)

    cursor pointer
    display inline-grid
    align-self center
    align-content center
    justify-content center

    &::selection
      background-color transparent

    > a
      color inherit

    &.brand
      padding 0 .8em
      font-size var(--navbar-brand-font-size)
      font-weight bold

    &.label
      padding 0 .6em
      height 100%

    &.icon
      height 100%
      display flex
      align-items center
      margin 0
      padding 0.5em 0.3em

    &.label, &.icon
      transition background-color .3s, box-shadow .3s

      &:hover
        background-color var(--link-hover-black-shade-bg)

        &::selection
          background-color transparent



  h1, h2, h3, h4, h5, h6, p
    margin 0
    line-height inherit


.nav-item.icon i.material-icons
  min-width 2.5em
  font-size 1.75em

  &.large
    font-size 2.35em
  &.big
    font-size 2.05em
  &.small
    font-size 1.55em
