@import '../../styles/font.styl'
@import '../../styles/colors.styl'

footer-font-size = 1.1rem
footer-title-font-size = 2.1rem

.footer
  background-color primary-color
  color font-color-on-primary
  width 100%
  font-size footer-font-size

  .footer-list, .footer-line
    display inline-grid

  .footer-list
    padding .8rem 0

    .footer-list-element, .footer-line-element
      & > *
        margin 0
        padding 0
        border 0

    .footer-list-element
      justify-self center
      & > *
        margin .4rem 0

    .footer-line-element
      justify-self center