height = 1.6rem

.radiobutton,
.radiobutton-label
  color #404040
  cursor pointer
  font-size 'calc(%s / 1.3)' % height
  margin 0
  height fit-content

.radiobutton-label
  padding-left 0.3rem
  vertical-align baseline

.radiobutton 

  .svg-container
    vertical-align middle
    width height

    .svg-radiobutton 
      fill none
      stroke currentColor
      stroke-linecap round
      stroke-linejoin round
      stroke-width 2.5px