
primary-color = #33CC33

.min-height-15
  min-height 15rem


.min-width-15
  min-width 15rem


.grid.page
  min-width 100vw
  min-height 100vh

  > .grid-element:not(.navbar):not(.footer):not(.article-list)
    justify-content center
    align-content center
    min-width 10rem
    min-height 5rem


.position-relative
  position relative

.top-right-corner
  position absolute
  right 0
  top 0

  &.with-radius
    border-bottom-left-radius 15%


.top-left-corner
  position absolute
  left 0
  top 0

  &.with-radius
    border-bottom-right-radius 15%


.bottom-right-corner
  position absolute
  right 0
  bottom 0

  &.with-radius
    border-top-left-radius 15%


.bottom-left-corner
  position absolute
  left 0
  bottom 0

  &.with-radius
    border-top-right-radius 15%


.navbar
  .nav-brand
    margin 0 2.5vw
    font-size 2.7rem

  .nav-icon, .nav-label, .nav-logo
    padding 0 1vw


.screen
  display flex
  justify-content center

  .scroll-btn
    position absolute
    bottom 0
    margin 3% 0


.btn.circle
  padding 0
  width 5rem
  height 5rem
  border-radius 50%

  span
    vertical-align middle

    i.material-icons
      font-size 3.75rem