.tabs-container {
  display: inline-grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  width: 100%;
}


.tab {
  $underline-color: #1289a7;
  $hover-bg-radius: 3rem;
  
  background: none;
  border: 0;
  color: inherit;
  cursor: pointer;
  font: inherit;
  outline: inherit;
  padding: 0;
  
  .tab-label {
    align-content: center;
    align-self: center;
    
    border-radius: $hover-bg-radius;
    
    display: inline-grid;
    
    font-weight: 500;
    
    grid-auto-flow: column;
    
    justify-content: center;
    justify-self: center;
    
    opacity: 0.6;
    
    padding: 0.8rem calc(1.4rem + 2vw);
    
    text-overflow: ellipsis;
    transition: background-color 0.2s, opacity 0.2s;
    white-space: nowrap;
    
    &:hover {
      background-color: rgba(0, 0, 0, 0.07);
      opacity: 0.8;
    }
    
    &:active {
      background-color: rgba(0, 0, 0, 0.12);
      opacity: 1;
    }
  }
  
  &.active {
    border-bottom: 2px solid $underline-color;
    
    .tab-label {
      background-color: unset;
      cursor: default;
      opacity: 1;
      
      &:hover {
        opacity: 1;
      }
    }
  }
}
